@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.main {
  padding: 80px 0 30px;

  .container {
    .bread-crumbs {
      margin-bottom: 60px;
      font-weight: 500;
      font-size: 16px;
      color: $light-blue;
      display: flex;
      align-items: center;
      gap: 8px;

      a {
        font-weight: 400;
        color: $footer-color;
      }

      span {
        color: $footer-color;
      }
    }

    .main-info {
      display: flex;
      justify-content: space-between;
      align-items: start;
      gap: 106px;

      h1 {
        @include title-lora-38;
        line-height: 130%;
        margin-bottom: 40px;
      }

      p {
        font-size: 20px;
        line-height: 130%;
        color: $light-blue;
      }

      img {
        border-radius: 5px;
        width: 527px;
      }
    }
  }
}

.content {
  padding: 43px 0 120px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 132px;

    .share-article {
      display: flex;
      align-items: center;
      gap: 20px;
      font-weight: 500;
      font-size: 14px;
      color: $light-blue;
      margin-top: 60px;

      .share-article-links {
        display: flex;
        align-items: center;
        gap: 13px;

        a {
          display: flex;

          &:hover {
            svg path {
              fill: $footer-color;
            }
          }
        }
      }
    }

    .comments-block {
      padding-top: 60px;

      h2 {
        @include title-lora-38;
      }

      .auth-links-block {
        margin: 20px 0 60px;
        font-size: 14px;
        color: $dark-blue-text;

        a {
          color: $light-blue;

          &:hover {
            color: $footer-color;
            text-decoration: underline;
          }
        }
      }

      .no-comments {
        margin-top: 20px;
        font-size: 14px;
        color: $dark-blue-text;
      }

      .comment-write {
        margin: 40px 0 60px;

        textarea {
          width: 818px;
          height: 248px;
          border: 2px solid $light-blue;
          border-radius: 3px;
          padding: 20px;
          resize: none;
          font-size: 14px;
          line-height: 130%;
          color: $dark-blue-text;

          &::placeholder {
            color: $light-gray;
          }
        }

        .button {
          margin-top: 20px;
          width: 422px;
        }
      }

      .comments {
        .comment {

          &:not(:first-child) {
            margin-top: 40px;
          }

          .user-content {
            display: flex;
            gap: 26px;
            margin-bottom: 15px;

            .user-image {
              width: 60px;
              height: 60px;
              border-radius: 100%;
              border: 2px solid $light-blue;
              background-color: $footer-color;
              overflow: hidden;

              &::before, &::after {
                content: "";
                display: block;
                border-radius: 100%;
                border: inherit;
                position: relative;
              }

              &::before {
                width: 25px;
                height: 25px;
                top: 10px;
                left: 14px;
              }

              &::after {
                width: 45px;
                height: 45px;
                top: 8px;
                left: 4px;
              }
            }

            .user-info {
              font-weight: 600;

              .user-name {
                font-size: 18px;
                color: $light-blue;
                margin-bottom: 10px;
              }

              .comment-date {
                font-size: 14px;
                color: $filter-gray;
              }
            }
          }

          .comment-text {
            font-size: 14px;
            line-height: 140%;
            color: $dark-blue-text;
            margin-bottom: 39px;
          }

          .comment-actions {
            display: flex;
            align-items: center;
            gap: 15px;
            font-weight: 600;
            font-size: 14px;
            color: $dark-blue-text;

            & > div {
              display: flex;
              align-items: center;
              gap: 3px;
              cursor: pointer;

              &:hover, &.marked {
                color: $light-blue;

                svg path {
                  stroke: $light-blue;
                }
              }
            }

            .spam {
              position: relative;

              span {
                display: none;
                position: absolute;
                top: 3px;
                left: 25px;
                white-space: nowrap;
                color: $light-blue;
              }

              &:hover {
                span {
                  display: block;
                }
              }
            }
          }
        }
      }

      .more-comments {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        font-weight: 500;
        font-size: 20px;
        color: $light-blue;
        margin-top: 59px;

        &:hover {
          color: $footer-color;

          svg path {
            fill: $footer-color;
          }
        }
      }
    }

    aside.related-articles {
      padding: 47px 0;
      display: flex;
      flex-direction: column;
      gap: 60px;

      h4 {
        @include title-lora-38;
        font-size: 26px;
        margin-bottom: 20px;
      }
    }
  }
}
