@import "../../../../assets/styles/variables";

.article {
  width: 291px;
  position: relative;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  border-radius: 5px;
  transition: .3s;
  height: 100%;
  display: flex;
  flex-direction: column;

  &:hover {
    box-shadow: 5px -5px 5px rgba($footer-color, .5);
    scale: 1.01;
  }

  .article-category {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 11px;
    text-align: center;
    color: $light-blue;
    background-color: $white;
    border-radius: 5px;
    padding: 10px 18px;
  }

  .article-image {
    width: inherit;
    height: 291px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
  }

  .article-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .article-title {
      font-weight: 500;
      font-size: 20px;
      line-height: 130%;
      color: $light-blue;
      margin: 15px 0 20px;
    }

    .article-description {
      font-size: 14px;
      line-height: 130%;
      color: $dark-blue-text;
      flex-grow: 1;
    }

    a {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 16px;
      text-decoration: underline;
      color: $light-blue;
      display: block;
      margin-top: 20px;

      &:hover {
        color: $footer-color;
      }
    }
  }

  &:hover {
    .article-category {
      background-color: $footer-color;
      color: $dark-blue-text;
    }
  }
}
