@font-face {
  src: url("/assets/fonts/Montserrat-Regular.ttf");
  font-family: "Montserrat";
  font-weight: 400;
}

@font-face {
  src: url("/assets/fonts/Montserrat-Medium.ttf");
  font-family: "Montserrat";
  font-weight: 500;
}

@font-face {
  src: url("/assets/fonts/Montserrat-SemiBold.ttf");
  font-family: "Montserrat";
  font-weight: 600;
}

@font-face {
  src: url("/assets/fonts/Lora-Regular.ttf");
  font-family: "Lora";
  font-weight: 400;
}

//@font-face {
//  src: url("/assets/fonts/Lora-Medium.ttf");
//  font-family: "Lora";
//  //font-weight: 500; ??
//}

@font-face {
  src: url("/assets/fonts/Suisse-Intl-Regular.ttf");
  font-family: "Suisse Intl Regular";
}
